<!-- <app-table></app-table> -->
<!-- <app-async-data></app-async-data> -->
<h1>Harsh Vardhan Bairagi</h1>
<app-view-child #tem_ref_var></app-view-child>

<p #para>Hi guys</p>

<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<button (click)="changePara()">Change para text</button>
<!-- <h1 [appTtClass]="'green-class'">Tt Class</h1>
<h1 *appTtIf="value">Tt If</h1>
<h1 appHighlight>Hello!</h1>
<br />
<br />
<button appTooltip tooltip="This is the tooltip">Show Tooltip</button> -->
